section.promo
  .d-flex 
    .base-text 
    img(src="#", alt="#")

  h1 Иттерация each
  - var list = ["home", "settings", "about"]
  ul.list
    each item in list
      li.list__item   
        a.list__link=item

  h1 Condition if + иттерация each
  ul.list
    each item, index in list
      if item.length >= 5
        li.list__item   
          a.list__link=item
      else 
        li.list__item   
          a.list__link item is low 5
  h1 mixin
  mixin list(listName)
    ul(class=listName)
      li(class=listName+"__item")
        a(href="#" class="active")=listName
      

  +list(list)